
.hero-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;
}

.img {
    background: url('/images/imagen-4.jpg') center center/cover no-repeat; 
    transform: translateZ(-11px) scale(2);
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    filter: blur(2px);
    
}

.capa-azul {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #116A7B;
    opacity: 50%;
    transform: translateZ(-11px) scale(2);
}


.title > h1 {
    color: #fff;
    font-size: 4.5rem;
    text-align: center;
    
}

.title > p {
    margin-top: 8px;
    color: #fff;
    font-size: 2.6rem;
    font-family: 'Dancing Script', cursive;
    text-align: center;
}

.title {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 50%;
    align-content: center;
}

.front-wrapper{
    display: flex;
    justify-content: space-between;

}

.img-front-page > img {

    width: 100%;
    max-width: 300px;
}